ttkbootstrap~=1.10.1
easygui~=0.98.3
pillow~=10.4.0
speedtest~=0.0.1
pyperclip~=1.9.0
xmltodict~=0.13.0
dicttoxml~=1.7.16
qrcode~=7.4.2
easyocr~=1.7.1
requests~=2.32.3
wave~=0.0.2
vosk~=0.3.45
textblob~=0.18.0.post0
pycorrector~=1.0.5
pyahocorasick
torch # You can install it from pytorch.org (Pip/Conda install command)
tf_keras
pynput~=1.7.7
pyzbar~=0.1.9
soundfile~=0.12.1
nltk~=3.8.1
future~=1.0.0
pypinyin~=0.51.0