ttkbootstrap
easygui
pillow
speedtest
pyperclip
xmltodict
dicttoxml
qrcode
easyocr
requests
wave
vosk
textblob
pycorrector
pyahocorasick
torch # You can install it from pytorch.org (Pip/Conda install command)
tf_keras
pynput
pyzbar
soundfile
nltk